@import url(global.css);

body {
    background-color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#text-register-acc, #text-login-acc {
    cursor: pointer;
}